/*******************************************************/
/************************* 960px ***********************/
/*******************************************************/
@media (max-width: 960px) {
	/*======================
	//	Main framework
	========================*/
	.wrapper {
		width: 100%;
	}

	.main {
		width: 100%;
	}

	.body {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}

	.g.eq-height {
		background: none;
	}

	/*======================
	//	Puffs
	========================*/
	.puff.medium.one-half.puff > .box:after {
		clear: both;
		content: "";
		display: table;
	}

		.puff.medium.one-half.puff:first-of-type > .box > div {
			float: right;
			padding: 2%;
			width: 46%;
		}

		.puff.medium.one-half.puff > .box > h2 {
			float: none;
			display: block;
			width: 150px;
		}

		.puff.medium.one-half.puff:first-of-type > .box > figure {
			float: right;
			width: 50%;
		}

			.puff.medium.one-half.puff:first-of-type > .box > figure > img {
				float: right;
				margin-right: 0;
			}		
}

/*******************************************************/
/******************* <800px & >940px *******************/
/*******************************************************/
@media (min-width: 800px) and (max-width: 960px) {
	body .wrapper header {
		height: 153px;
	}

	header .logo {
		padding: 23px 0 12px;
	}

	header .top-menu {
		padding: 32px 0 12px;
	}
}

/*******************************************************/
/*********************** 800px < ***********************/
/*******************************************************/
@media (min-width: 800px) {
	.mobile-menu {
		display: none;
	}

	.g {
		float: right;
	}

	.frontpage-image {
		display: none;
	}
}

/*******************************************************/
/************************* 800px ***********************/
/*******************************************************/
@media (max-width: 800px) {
	header > .body {
		padding: 0;
	}

	.main > .body {
		padding-top: 40px;
	}

	body .wrapper .main {
		padding-bottom: 2em; 
	}
	/*======================
	//	Menu
	========================*/
	header > .body > .top-menu, 
	header > .body > .main-menu {
		display: none;
	}

	header > .body > a > img {
		display: block;
		margin: 0 auto;
		padding-bottom: 37px;
	}

	header .logo {
		float: none;
	}
		
	/*======================
	//	Main framework
	========================*/
	.slider {
		display: none;
	}

	.main {
		padding-bottom: 0;
	}

	/*======================
	//	Puffs
	========================*/
	.puff.medium.one-half.puff {
		display: inline-block;
		width: 50%;
	}
		.puff.medium.one-half.puff > .box {
			box-shadow: 0 1px 2px 0 #d9d9d9;
			height: 450px;
			padding: 5% 0;
		}
			.puff.medium.one-half.puff:first-of-type > .box > div,
			.puff.medium.one-half.puff > .box > div {
				display: block;
				padding: 5%;
				width: 90%;
			}

			.puff.medium.one-half.puff:first-of-type > .box > figure  {
				display: block;
				margin-right: 0;
				width: 100%;
			}

	.puff.small.one-third {
		margin-left: 0;
		width: 100%;
	}
		.puff.small .fill {
			background: #01587a;
			border: solid white 10px;
			height: auto;
			padding: 20px;
		}
			.puff.small .fill > div {
				height: auto;
				left: auto;
				position: relative;
				right: auto;
			}

			.puff.small .fill.box > h2, .puff.small .fill.box > div {
				max-width: 450px;
				padding: 0;
			}

	.g.eq-height {
		margin-bottom: 0;
	}
		.g.eq-height > .gw > .box {
			margin-bottom: 20px;
			padding-bottom: 10px;
		}

		.g.eq-height > .gw .box:last-of-type {
			margin-bottom: 0;
		}

	.g.three-quarters {
		width: 100%;
	}

	.g.one-quarter.side-menu {
		margin-top: 1em;
		max-width: 400px;
		width: 100%;
	}

	/*======================
	//	Page
	========================*/
	.main .feature .slider {
		float: none;
		padding: 35px 5% 0 5%;
		width: 90%;
	}

	.main .feature .post {
		float: none;
		padding: 35px;
		width: 80%;
	}

		.contact .readmore {
			float: none;
			text-align: left;
		}

	.main .body .gw .g .one-quarter .side-menu > .box {
		width: 100%;
	}

	.post .box {
		margin-top: 2em;
		text-align: center;
	}

		.post .box > h1:nth-of-type(1) {
			border-bottom: 2px solid #E6E6E6;
			display: inline-block;
			padding: 0 0 15px 0; 
		}

		.post .box p {
			text-align: left;
		}

	/*======================
	//	Footer
	========================*/
	footer .body {
		background: #4A4A4A;
	}
		footer .main-menu {
			padding-left: 20px;
		}

			footer .body nav ul li, 
			footer .body a,
			footer .main-menu ul li.twitter a,
			footer .main-menu ul li.linkedin a {
				color: #FFFFFF;
				text-shadow: none;
			}

			footer .body .copyright p {
				color: #FFFFFF;
				text-align: center;
				text-shadow: none;
			}
}

/*******************************************************/
/************************* 750px ***********************/
/*******************************************************/
@media (max-width: 750px) {
	/*======================
	//	Footer
	========================*/
	footer .body nav ul li, 
	footer .body a,
	footer .main-menu ul li.twitter,
	footer .main-menu ul li.linkedin  {
		float: none;
		margin-top: 15px;
	}

	footer > .body > nav > ul {
		margin-left: 15px;
	}

	footer > .body > nav > ul li {
		list-style-type: square;
	}

	footer .main-menu ul li.twitter,
	footer .main-menu ul li.linkedin {
		display: none;
	}
}

/*******************************************************/
/************************* 650px ***********************/
/*******************************************************/

@media (max-width: 650px) {

	.puff.medium.one-half.puff {
		display: inline-block;
		margin: 2%;
		width: 96%;
	}

		.puff.medium.one-half.puff > .box {
			height: auto;
			margin-left: 0;
			padding: 5% 0;
		}

			.puff.medium.one-half.puff:first-of-type > .box > div,
			.puff.medium.one-half.puff > .box > div {
				display: block;
				margin-left: 0;
				padding: 5%;
				width: 90%;
			}

			.puff.medium.one-half.puff:first-of-type > .box > figure  {
				display: block;
				float: right;
				margin-right: 0;
				width: 40%;
			}

			.puff.medium.one-half.puff:first-of-type > .box > div {
				float: right;
				padding: 2%;
				width: 56%;
			}

			.main .medium.puff .box > .break-border {
				margin-right: 0;
			}

			.puff.medium.one-half.puff > .box:after {
				clear: both;
				content: "";
				display: table;
			}

	.puff.small.one-third {
		margin: 2%;
		width: 96%;
	}

		.puff.small .fill > div {
			height: auto;
			left: auto;
			position: relative;
			right: auto;
		}

		.puff.small .fill.box > h2, .puff.small .fill.box > div {
			padding: 0;
		}

	.g.eq-height > .gw > .box {
		margin-bottom: 20px;
		padding-bottom: 10px;
	}

	.g.eq-height > .gw .box:last-of-type {
		margin-bottom: 0;
	}

	.g.three-quarters {
		width: 100%;
	}
}

/*******************************************************/
/************************* 500px ***********************/
/*******************************************************/
@media (max-width: 500px) {
	.puff.medium.one-half.puff:first-of-type > .box > div,
	.puff.medium.one-half.puff > .box > div {
		display: block;
		padding: 5%;
		width: 90%;
	}

	.puff.medium.one-half.puff:first-of-type > .box > figure  {
		display: block;
		margin-right: 0;
		width: 100%;
	}

	.main .puff h1, h3 {
		width: 80%;
	}

	/*======================
	//	Page - post 
	========================*/
	.post-list .box > .contact figure {
		float: none;
		width: 100%;	
	}

		.post-list .box > .contact figure > img {
			width: 60%;	
		}

	.post .download > figure,
	.post .download > .bd {
		float: none;
	}

		.post .download > figure > img {
			width: 60%;
		}

	.post .box > h1:first-child {
		width: 80%;
	}
}